-#  This file is app/views/movies/index.html.haml

%h1= link_to "All Movies" , movies_path
  
= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]","yes",@ratings.include?(rating), :id=>"ratings_#{rating}"
    = submit_tag 'Refresh', :id=>"ratings_submit"


%table#movies
%thead
  %tr
  %th{:class => th_class("title")}= sortlist "title", "Movie Title", @selected_ratings, "title_header" 
  %th Rating
  %th{:class => th_class("release_date")}= sortlist "release_date", "Release Date", @selected_ratings, "release_date_header"
  %th More Info
%tbody
- @movies.each do |movie|
  %tr
  %td= movie.title 
  %td= movie.rating
  %td= movie.release_date
  %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
